{% load static %}
<!-- prettier-ignore -->
{% comment %}
  index.html - The entry point for the frontend React app.

  This HTML file serves as the foundation for the frontend React app. It is
  rendered by the `FrontendView` class in the Django backend and includes the
  necessary static files built by Vite.

The `
<div id="root"></div>
` element serves as the mount point for the frontend React app, where the React
components are injected into the DOM. The template is designed to be minimal,
with the the frontend logic and UI handled by React, while this file is
responsible for loading and initializing the frontend environment.

<!-- prettier-ignore -->
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'vite.svg' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'assets/main-osTwr2SF.css' %}" />
    <title>PMS</title>
  </head>
  <body>
    <div id="root"></div>

    <script
      type="module"
      crossorigin
      src="{% static 'react/main.js' %}"
    ></script>
  </body>
</html>
