{% extends "./base_projects.html" %} {% block root %}

<div
  class="flex w-full h-dvh items-center justify-center space-even"
  x-data="{
    phases: [],
    addPhase(text){
      if(text.trim()){
          this.phases.push(text);
          this.phases = [...new Set(this.phases)];
          this.updateHiddenInput();
        } 
      },
    updateHiddenInput() {
      const phasesString = this.phases.join(',');
      document.getElementById('id_template_phases').value = phasesString;
    },
}"
>
  <main class="flex mr-5 w-80 p-4 bg-white rounded shadow-lg">
    <form
      method="post"
      action="{% url 'create_template' %}"
      @submit.prevent="confirmSubmission(event)"
    >
      {% csrf_token %}

      <div class="space-y-5">
        {# 'X' sign #}
        <div class="flex justify-end font-bold">
          <a href="{% url 'profile_page' user.username %}">&#x2715;</a>
        </div>

        {# Industry Choice Field #}
        <div class="form-group">
          <label
            for="{{ form.industry.id_for_label }}"
            class="block text-sm font-medium text-gray-700"
          >
            Industry
          </label>
          {{ form.industry_choice }} {% if form.industry_choice.errors %}
          <ul class="text-red-600 text-sm">
            {% for error in form.industry_choice.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        {# Template name Field #}
        <div class="form-group">
          <label
            for="{{ form.template_name.id_for_label }}"
            class="block text-sm font-medium text-gray-700"
          >
            Template name
          </label>
          {{ form.template_name }} {% if form.template_name.errors %}
          <ul class="text-red-600 text-sm">
            {% for error in form.template_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        {# Template phases section #}
        <div class="form-group">
          {# Hidden input to store user entered phases in csv format. #}
          <!-- prettier-ignore -->
          {{ form.template_phases }}
          <span x-data="{phase: ''}" class="fle">
            <label for="phase-input">Enter template phases</label>
            <input
              type="text"
              x-model="phase"
              name="phase-input"
              id="phase-input"
              placeholder="Enter template phase"
            />
            <button type="button" @click="addPhase(phase); phase = ''">
              Add
            </button>
          </span>
          {% if form.template_phases.errors %}
          <ul class="text-red-600 text-sm">
            {% for error in form.template_phases.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        {# Submit Button #}
        <input
          type="submit"
          value="Create"
          class="w-full cursor-pointer bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      {# Form Errors #} {% if form.non_field_errors %}
      <ul class="text-red-600 text-sm">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </form>
  </main>

  <aside
    x-show="phases.length > 0"
    x-transition
    class="border-1 border-black bg-gray-100 p-4 rounded shadow-lg"
  >
    <h1 class="font-bold underline">Added phases:</h1>
    <ol>
      <template x-for="(phase, index) in phases" :key="index">
        <li x-text="phase"></li>
      </template>
    </ol>
  </aside>
</div>

{% endblock root %}
