{% extends "./base_users.html" %} {% block root %}
<div class="h-dvh mx-2 my-2">
  <header
    class="fixed w-full right-2 space-x-4 text-black font-medium p-4 flex justify-between"
    x-data="{ dropdown: false }"
  >
    {# Dropdown toggle button #}
    <button
      type="button"
      @click="dropdown = !dropdown"
      @click.outside="dropdown = false"
      class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-lg transition duration-200 ml-auto relative"
    >
      {{ user.username }} {# Dropdown menu #}
      <div
        x-show="dropdown"
        x-transition
        class="absolute right-0 mt-2 bg-white border rounded-lg shadow-md w-max z-50"
      >
        <ul class="space-y-2 py-2 px-4">
          <li>
            <a
              href="{% url 'create_template' %}"
              class="text-gray-700 hover:text-blue-500"
            >
              Create a template
            </a>
          </li>
          <li>
            <a
              href="{% url 'account_logout' %}"
              class="text-gray-700 hover:text-blue-500"
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
    </button>
  </header>

  <div
    class="flex flex-col w-3/4 mx-auto bg-white shadow-lg rounded-lg p-6 relative top-10"
    x-data="{
        activeTab: '', // Tracks the current tab.
        data: [], // Stores the fetched data.
        updateData(event) {
            const response = JSON.parse(event.detail.xhr.responseText);
            this.data = response; 
        }
    }"
  >
    <nav class="flex w-full border-b-2 border-blue-500 rounded-t-md">
      {# organizations button #}
      <button
        class="flex-1 py-2 text-center hover:bg-blue-200 focus:bg-blue-300 transition-colors border-b-4"
        hx-get="{% url 'user_organizations' %}"
        hx-trigger="load, click"
        hx-target="this"
        hx-swap="none"
        @htmx:before-request="activeTab='organizations'"
        @htmx:after-request="updateData(event)"
        :class="{ 'border-blue-500': activeTab === 'organizations', 'border-transparent': activeTab !== 'organizations' }"
      >
        Organizations
      </button>
      {# projects button #}
      <button
        class="flex-1 py-2 text-center hover:bg-blue-200 focus:bg-blue-300 transition-colors border-b-4"
        hx-get=""
        hx-trigger="click"
        hx-target="this"
        hx-swap="none"
        @htmx:before-request="activeTab='projects'"
        @htmx:after-request="updateData(event)"
        :class="{ 'border-blue-500': activeTab === 'projects', 'border-transparent': activeTab !== 'projects' }"
      >
        Projects
      </button>
    </nav>

    <section class="w-full rounded-b-md p-4">
      {# only display if the user is on the 'organizations' tab #}
      <template x-if="activeTab === 'organizations'">
        <div>
          <div
            class="flex"
            x-data="{
            organizations: [],
            searchForm: false,
            updateOrganizations(event) {
              if(event.detail.successful) {
                const response = JSON.parse(event.detail.xhr.responseText);
                this.organizations = response; 
              } else {
                this.organizations = [];
              }
            }
          }"
            x-init="$watch('searchForm', () => {
            htmx.process(htmx.find('#search-form'));
          })"
          >
            {# search-form #}
            <div class="flex flex-col relative grow mr-5">
              <form
                id="search-form"
                class="relative"
                x-init="searchForm = true"
                hx-post="{% url 'organization_search' %}"
                hx-target="this"
                hx-swap="none"
                hx-trigger="input changed delay:300ms"
                @htmx:after-request="updateOrganizations(event)"
              >
                {% csrf_token %} {# search form input tag #}
                <input
                  class="w-full bg-white border border-gray-300 text-gray-700 px-4 py-2 mt-2 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300"
                  id="search-bar"
                  type="search"
                  name="organization_name_query"
                  placeholder="Search for an organization"
                />
              </form>

              {# Search Results List #}
              <div class="w-full absolute top-12 z-50 mt-2">
                <template x-if="organizations.length > 0">
                  <ul
                    class="w-full bg-white border border-black shadow-lg rounded-md mt-1"
                  >
                    <template
                      x-for="organization in organizations"
                      :key="organization.organization_id"
                    >
                      <li
                        x-text="organization.organization_name"
                        class="p-2 hover:bg-gray-200 cursor-pointer"
                      ></li>
                    </template>
                  </ul>
                </template>
              </div>
            </div>

            {# link to create an organization #}
            <a
              href="{% url 'create_organization' %}"
              class="bg-white border border-gray-300 text-gray-700 px-1 py-2 mt-2 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300"
            >
              Create an organization.</a
            >
          </div>
          <template x-if="data.length > 0">
            <ul class="space-y-2">
              <template x-for="org in data" :key="org.organization_id">
                <!-- prettier-ignore-->
                {# Hardcode url as django url tag is not resolving 'org.organization_name_slug' #}
                <a :href="'/organizations/' + org.organization_name_slug + '/'">
                  <li
                    x-text="org.organization_name"
                    class="bg-white p-2 rounded-md shadow"
                  ></li>
                </a>
              </template>
            </ul>
          </template>
          <template x-if="data.length === 0">
            <p class="text-gray-600">
              You are currently not a member of any organization.
            </p>
          </template>
        </div>
      </template>

      {# only display if the user is on the 'projects' tab #}
      <template x-if="activeTab === 'projects'">
        <div>
          <template x-if="data.length > 0">
            <ul class="space-y-2">
              <template x-for="project in data" :key="project.id">
                <li
                  x-text="project.title"
                  class="bg-white p-2 rounded-md shadow"
                ></li>
              </template>
            </ul>
          </template>
          <template x-if="data.length === 0">
            <p class="text-gray-600">No active projects found.</p>
          </template>
        </div>
      </template>
    </section>
  </div>
</div>
{% endblock root %}
