<!-- prettier-ignore -->
{% extends "../users/home.html" %} {% load static socialaccount %} {% block auth %}
<section
  class="absolute h-auto w-80 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-4 bg-white rounded shadow-lg"
>
  <div>
    {# 'X' sign #}
    <a href="{% url 'home'%}" class="flex justify-end font-bold">&#x2715;</a>
    <h2 class="flex justify-center text-lg font-bold tracking-wide">Sign Up</h2>

    <form method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}

      <div class="space-y-4">
        {% comment %} Username Field {% endcomment %}
        <div class="form-group">
          <label
            for="{{ form.username.id_for_label }}"
            class="block text-sm font-medium text-gray-700"
            >Username</label
          >
          {{ form.username }} {% if form.username.errors %}
          <ul class="text-red-600 text-sm">
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        {% comment %} Email Field {% endcomment %}
        <div class="form-group">
          <label
            for="{{ form.email.id_for_label }}"
            class="block text-sm font-medium text-gray-700"
            >Email</label
          >
          {{ form.email }} {% if form.email.errors %}
          <ul class="text-red-600 text-sm">
            {% for error in form.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        {% comment %} Password Field {% endcomment %}
        <div>
          <label
            for="{{ form.password1.id_for_label }}"
            class="block text-sm font-medium text-gray-700"
            >Password</label
          >
          {{ form.password1 }} {% if form.password1.errors %}
          <ul class="text-red-600 text-sm">
            {% for error in form.password1.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        {% comment %} Confirm Password Field {% endcomment %}
        <div>
          <label
            for="{{ form.password2.id_for_label }}"
            class="block text-sm font-medium text-gray-700"
            >Confirm Password</label
          >
          {{ form.password2 }} {% if form.password2.errors %}
          <ul class="text-red-600 text-sm">
            {% for error in form.password2.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        {% comment %} Submit Button {% endcomment %}
        <input
          type="submit"
          class="w-full bg-blue-600 text-white mb-5 py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          value="Sign Up"
        />
      </div>

      {% comment %} Login link {% endcomment %}
      <p>
        Already have an account?
        <a href="{% url 'account_login' %}" class="text-sky-500 underline">
          Log in</a
        >
      </p>

      {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
        <p class="text-red-600 text-sm">{{error}}</p>
        {% endfor %}
      </ul>
      {% endif %}
    </form>

    {% comment %} Google sign up {% endcomment %}
    <form action="{% provider_login_url 'google' %}" method="post" class="mt-3">
      {% csrf_token %}
      <button
        type="submit"
        class="flex w-full bg-white border border-gray-300 text-gray-700 py-2 mt-2 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300"
      >
        <img
          src="{% static 'logos/google.svg'%}"
          alt="Google logo"
          class="h-6 ml-1 mr-2"
        />
        Sign Up with Google
      </button>
    </form>
  </div>
</section>
{% endblock auth %}
